<!-- start Simple Custom CSS and JS -->
<style type="text/css">
h2.entry-title.added-for-category {
  font-size: 18px;
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.entry-content.added-for-category p {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 0;
  text-align: justify;
}

.page-content, .entry-content, .entry-summary {
  margin: 0;
}
.image-article-in-category {
  display: block;
  width: 150px;
}
.image-article-in-category img {
  width: 150px;
  height: 100px;
}
.category-td {
  vertical-align: top;
}
#primary {
  width: calc(76% - 2rem);
}
#secondary {
  padding: 0 15px;
  width: 25%;
}</style>
<!-- end Simple Custom CSS and JS -->
