<!-- start Simple Custom CSS and JS -->
<style type="text/css">
h2.entry-title.added-for-category {
  font-size: 18px;
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.entry-content.added-for-category p {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 0;
  text-align: justify;
}

.page-content, .entry-content, .entry-summary {
  margin: 0;
}
.image-article-in-category {
  display: block;
  width: 150px;
}
.image-article-in-category img {
  width: 150px;
  height: 100px;
}
.category-td {
  vertical-align: top;
}
#primary {
  width: calc(76% - 2rem);
}
#secondary {
  padding: 0 15px;
  width: 25%;
}
.wrap-direction {
    background-color: #6b96db;
    color: white;
}
.direction-top table {
  width: 100%
}
.direction-top td.icon-drct {
  width: 5%;
  font-size: 55px;
  color: white;
  text-align: center;
}
.direction-top td.content-drct {
  width: 20%;
}
.direction-top td.content-drct .topColItemTitle {
  color: white;
  font-weight: bolder;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 0;
}
.direction-top td.content-drct .detail-drct {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 0;
}
.direction-top td.content-drct .topColItemSmallText {
  font-size: 11px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 0;
}
ul.no-bullets li:before, ul.no-bullets .time {
  display: none;
}
.search-pc-form {
  width: 250px;
  height: 35px;
  line-height: 35px;
  padding: 0px 5px 0px 5px;
  background-image: linear-gradient(#4d98c9, #59c0e5);
  border-radius: 20px;
}
.search-pc-form td {
  vertical-align: middle;
  padding: 0;
}
.search-pc-form input {
  background-color: transparent;
  border: 0
}
.search-pc-form input:focus {
  outline: none;
  border: 0;
}
.search-pc-form input::placeholder {
  color: #6b6e6c;
  font-weight: 500;
  font-style: italic;
}
.search-pc-form button {
  	height: 20px;
    line-height: 5px;
    width: 65px;
    background-color: white;
    color: #6c6e6c;
    font-size: 12px;
    font-style: oblique;
    border-radius: 30px;
}
html.wf-roboto-n3-active.wf-roboto-n4-active.wf-active {
  margin-top: 0px !important;
}

p#breadcrumbs a {
    color: #4fa3d0;
    font-size: 18px;
    font-weight: 700;
}
span.breadcrumb_last {
    color: #4fa3d0;
    font-size: 18px;
    font-weight: bold;
}
.button-zone {
    width: 100%;
    text-align: right;
  	margin-top: 10px;
}
a.tuvan-category {
    display: inline-block;
    background-color: #d4d4d4;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
a.xemthem-category {
    display: inline-block;
    background-color: #3290b9;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    color: white;
}
a.tuvan-category:hover {
    color: black;
}
a.xemthem-category:hover {
    color: white;
}
.direction-top {
  background-color: #6d97dc;
  width: 1024px;
    margin: 0 auto;
  color: white;
}</style>
<!-- end Simple Custom CSS and JS -->
