<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.kmm31 {
  width: 100%;
}
.kmm31 a {
  display: block;
  width: 100%;
}
.kmm31 a img{
  width: 100%;
}
table.widget-slider-bacsi {
  width: 100%;
  border-spacing: 0px;
}
td.title-slider-bacsi {
  background-color: #6e98dc;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}
td.title-slider-bacsi p {
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
td.slider-content-bacsi {
  border: 1px solid #6e98dc;
}</style>
<!-- end Simple Custom CSS and JS -->
