<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.direction-top-mb table {
  width: 90%;
  margin: 0 auto;
}
.direction-top-mb td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid #aaa7a7;
  padding-bottom: 10px;
}
.direction-top-mb td p {
  padding: 0;
}
.direction-top-mb td.icon-drct {
  width: 5%;
  font-size: 50px;
  color: #aaa7a7;
}
.direction-top-mb td.content-drct {
  width: 45%;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}
.direction-top-mb td.content-drct .topColItemTitle {
  font-size: 14px;
  font-weight: bolder;
}
.direction-top-mb td.content-drct .detail-drct {
  font-size: 14px;
}
.direction-top-mb td.content-drct .topColItemSmallText {
  font-size: 12px;
}
.main-page-363 {
  padding: 0 0 !important;
  width: 100%;
}
.cacchuyenkhoa {
  width: 100%;
  text-align: center;
}
.cacchuyenkhoa .title_cacchuyenkhoa {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #446ba9;
  position: relative;
  margin-bottom: 20px;
}
.cacchuyenkhoa .title_cacchuyenkhoa:after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: #446ba9;
  position: absolute;
  bottom: 0;
  left: 105px;
}
.table-cacchuyenkhoa {
  width: 100%;
}
.table-cacchuyenkhoa table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 2px;
  border-collapse: separate;
}
.table-cacchuyenkhoa td {
  width: 33.33%;
  height: 100px;
  vertical-align: middle;
  padding: 0;
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid #446ba9;
}
.table-cacchuyenkhoa td:hover {
  background-color: #446ba9;
}
.table-cacchuyenkhoa td:hover .icon-not-hover {
  display: none;
}
.table-cacchuyenkhoa td:hover .icon-hover {
  display: inline-block;
}
.table-cacchuyenkhoa td:hover .name_chuyenkhoa {
  color: white;
}
.table-cacchuyenkhoa td .icon-hover img {
  width: 50px;
  height: 50px;
}
.table-cacchuyenkhoa td .icon-not-hover img {
  width: 50px;
  height: 50px;
}
.table-cacchuyenkhoa td .icon-hover {
  display: none;
}
.table-cacchuyenkhoa td .name_chuyenkhoa {
  margin-top: 20px;
  color: #446ba9;
  font-weight: bolder;
  font-size: 18px;
}
.doingubacsi {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.doingubacsi .title_doingubacsi {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #446ba9;
  position: relative;
  margin-bottom: 20px;
}
.doingubacsi .title_doingubacsi:after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: #446ba9;
  position: absolute;
  bottom: 0;
  left: 105px;
}</style>
<!-- end Simple Custom CSS and JS -->
