<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.totalTitleCat .archive-desc {
  display: none;
}
.articleCat article {
  margin-bottom: 0;
}
.itemPostInCategory td {
  padding: 0;
  vertical-align: top;
  border: 0;
}
a.imagesThumbCat {
  text-decoration: none;
}
.imagesThumbCat img {
  width: 100px !important;
  height: 80px !important;
  margin: 0;
}

.itemPostInCategory td.thumb-cat-td {
  text-align: center;
  width: 20%;
}
.itemPostInCategory td.cont-cat-td {
  padding-left: 15px;
}
.excerptWrapper p {
  font-size: 12px;
}
.social_share {
  display: none;
}
.relative-post-wrapper table {
  width: 100%;
}
.relative-post-wrapper a.urlPost {
  text-decoration: none;
  font-weight: bold;
}
h4.widget-title {
    font-size: 22px;
    margin: 0;
    display: inline-block;
    background-color: #6e98dc;
    width: 100%;
    padding: 5px;
    color: white;
}
h4.widget-title:after {
  display: none;
}
.logo-mb {
  text-align: center;
}
.logo-mb img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.entry-box .entry {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}</style>
<!-- end Simple Custom CSS and JS -->
